<div class="container">
    <div class="sidebar">
        <h2>Messaging App</h2>
        <div class="sidebar-header">
            
            <button mat-raised-button color="mat-raised-button" (click)="view = 'channels'" [class.active]="view === 'channels'">Channels</button>
            <button mat-raised-button color="tertiary" (click)="view = 'dms'" [class.active]="view === 'dms'">DMs</button>
          </div>
          <h3 *ngIf="view === 'channels'">Channels</h3>
          <ul *ngIf="view === 'channels'">
            <button mat-raised-button color="primary" *ngFor="let channel of channels" (click)="selectChannel(channel)">
              {{ channel.name }}
            </button>
          </ul>
          <h3 *ngIf="view === 'dms'">Direct Messages</h3>
            <ul *ngIf="view === 'dms'">
            <button mat-raised-button color="primary" *ngFor="let dm of dms" (click)="selectChannel(dm)">
                {{ dm.name }}
            </button>
            </ul>
            <input type="text" id="myInput" placeholder="Enter text here" [(ngModel)]="newConversationReceiver">
            <button (click)="createConversation()" >Create</button>
            @for(conversation of conversations;track conversation){
              <div>{{conversation}}</div>
            }
    </div>
    <div class="messages">
        <h3>{{ selectedChannel.name || 'Select a chat' }}</h3>
        <hr class="custom-line">
        <div class="messages">
            <div *ngFor="let message of selectedChannel?.messages">
              <strong>{{ message.user }}:</strong> {{ message.text }}
            </div>
  
            
          </div>
          <div class="message-input">
            <input type="text" placeholder="Type a message..." />
            <button>
              <span class="arrow">➤</span>
            </button>
          </div>
    </div>

</div>