<div class="container">
    <div class="sidebar">
        <h2>Messaging App</h2>
        <div class="sidebar-header">
            
            <button mat-raised-button color="mat-raised-button" (click)="view = 'channels'" [class.active]="view === 'channels'">Channels</button>
            <button mat-raised-button color="tertiary" (click)="view = 'dms'" [class.active]="view === 'dms'">DMs</button>
          </div>
          <h3 *ngIf="view === 'channels'">Channels</h3>
          <ul *ngIf="view === 'channels'">
            <button mat-raised-button color="primary" *ngFor="let channel of channels" (click)="selectChannel(channel)">
              {{ channel.name }}
            </button>
          </ul>
          <h3 *ngIf="view === 'dms'">Direct Messages</h3>
            <ul *ngIf="view === 'dms'">
            <button mat-raised-button color="primary" *ngFor="let dm of dms" (click)="selectChannel(dm)">
                {{ dm.name }}
            </button>
            </ul>
            <input type="text" id="myInput" placeholder="Enter text here" [(ngModel)]="newConversationReceiver">
            <button (click)="createConversation()" >Create</button>
            @for(conversation of conversations;track conversation){
              @if(conversation.user1==this.userService.loginUser.email){
                <div (click)="selectConversation(conversation)">{{conversation.user2}}</div>

              }
              @else{
                <div (click)="selectConversation(conversation)">{{conversation.user1}}</div>
              }
              
            }
    </div>
    <div class="messages">
      @if(selectedConversation==undefined){
        <h3>{{ "Selected a conversation" }}</h3>
      }
      @else if(selectedConversation.user1==this.userService.loginUser.email){
        <h3>{{ selectedConversation.user2 }}</h3>

      }
      @else{
        <h3>{{ selectedConversation.user1}}</h3>
      }
       
        <hr class="custom-line">
        <div class="messages">
          @if(selectedConversation!=undefined){
            @for(message of selectedConversation.messages;track message){
              <div>
                <strong>{{ message.sender }}:</strong> {{ message.body }}
                
              </div>
            }
          }
         
            
  
            
          </div>
          <div class="message-input">
            <input [(ngModel)]="singleMessage" type="text" placeholder="Type a message..." />
            <button (click)="sendName()">
              <span class="arrow">➤</span>
            </button>
          </div>
    </div>

</div>