<div class="container">
  <div class="sidebar">
    <h2>Messaging App</h2>
    <div class="sidebar-header">
      <button
        mat-raised-button
        color="mat-raised-button"
        (click)="view = 'channels'"
        [class.active]="view === 'channels'"
      >
        Channels
      </button>
      <button
        mat-raised-button
        color="tertiary"
        (click)="view = 'dms'"
        [class.active]="view === 'dms'"
      >
        DMs
      </button>
    </div>
    <h3 *ngIf="view === 'channels'">Channels</h3>
    <ul *ngIf="view === 'channels'">
      <button
        mat-raised-button
        color="primary"
        class="conversation-button"
        *ngFor="let channel of channels"
        (click)="selectChannel(channel)"
      >
        {{ channel.name }}
        @if(this.userService.user.role=="admin"){
          <span class="delete-x" (click)="deleteChannel(channel)" >X</span>
        }
        
      </button>
    </ul>
    <h3 *ngIf="view === 'dms'">Direct Messages</h3>
    @if(view=='dms'){
    <div class="message-input">
      <input
        type="text"
        id="myInput"
        placeholder="Enter text here"
        [(ngModel)]="newConversationReceiver"
      />
      <button (click)="createConversation()">
        <span class="arrow">➤</span>
      </button>
    </div>

    } @else {
      @if(this.userService.user.role=="admin"){
        <div class="message-input">
          <input
            type="text"
            id="myInput"
            placeholder="Enter text here"
            [(ngModel)]="newConversationReceiver"
          />
          <button (click)="createChannel()">
            <span class="arrow">➤</span>
          </button>
        </div>
      }
   
    }

    <ul *ngIf="view === 'dms'">
      @for(conversation of conversations;track conversation){
      @if(conversation.user1==this.userService.loginUser.email){
      <button
      
        mat-raised-button
        color="primary"
        (click)="selectConversation(conversation)"
      >
        {{ conversation.user2 }}
      </button>

      } @else{
      <button
        mat-raised-button
        color="primary"
        
        (click)="selectConversation(conversation)"
      >
        {{ conversation.user1 }}
        
      </button>
      } }
    </ul>
    <div class="admin-button-container">
      <button class="admin-button" (click)="makeAdmin()">Become an Admin</button>
      <button class="admin-button" (click)="makeMember()">Become a Member</button>
    </div>
    
    
  </div>
  
  <div class="messages">
    @if(view == "dms") { @if(selectedConversation==undefined){
    <h3>{{ "Selected a conversation" }}</h3>
    } @else if(selectedConversation.user1==this.userService.loginUser.email){
    <h3>{{ selectedConversation.user2 }}</h3>

    } @else{
    <h3>{{ selectedConversation.user1 }}</h3>
    }
      
    <hr class="custom-line" />
    <div class="messages">
      @if(selectedConversation!=undefined){ @for(message of
      selectedConversation.messages;track message){
      @if(message.sender==this.userService.loginUser.email){
      <div class="message-right message-bubble sent">
        {{ message.body }}
      </div>
      <br />
      } @else{
      <div class="message-right message-bubble">
        <strong>{{ message.sender }}:</strong> {{ message.body }}
      </div>
      <br />
      } } }
    </div>
    } @else { @if(hasJoinedChannel) {
    <h3>{{ selectedChannel.name }}</h3>
    <div class="messages">
      @for (message of selectedChannel.channelMessages; track message) {
        @if(message.sender==this.userService.loginUser.email){
          <div class="message-bubble sent">
            <strong>{{ message.sender }}:</strong> {{ message.body }}
          </div>
        }
        @else{<div class="message-bubble">
          <strong>{{ message.sender }}:</strong> {{ message.body }}
        </div>}
        
      }
    </div>
    } @else if (selectedChannel){
    <h3>{{ selectedChannel.name }}</h3>
    <div class=" button-container">
      <button class="but" (click)="joinChannel()">Join channel</button>
    </div>
    } @else {
    <h3>Select a channel</h3>
    <div class="messages"></div>
    }}

    @if(view=='dms'||hasJoinedChannel){
      <div class="message-input">
        <input
          [(ngModel)]="singleMessage"
          type="text"
          placeholder="Type a message..."
        />
        <button (click)="sendName()">
          <span class="arrow">➤</span>
        </button>
      </div>
    }
    
  </div>
</div>
